/* Couleurs avec ordre : https://coolors.co/222222-dddddd-ffffff-72788d-820b8a */

/* Icones ? https://boxicons.com/usage */

html {
    background-color: lightgray;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    font: 1em monospace;
    color: #ddd;
    background-color: #222;
  }

#MenuHaut {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    height: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1fr = 1 fraction, so repeat 2 means there will be 2 fractions */
}

#grid-one {
    grid-column: 1;
}

#grid-two {
    grid-column: 2;
    display: grid;
    justify-content: center; /* Centre sur l'axe vertical */
}

#grid-three {
    grid-column: 3;
}

#Nom {
    justify-self: left;
    padding-left: 10px;
}

@media only screen and (max-width: 750px) {
    .hidden-mobile {
      display: none;
    }
  }

#Langue {
    display: flex;
    padding-top: 15px;
    justify-content: end; /* Main Axis - Horizontal (align-items = Cross Axis - Vertical)*/
}

#Langue a:hover {
    color: black;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0; /* Change avec JavaScript */
    position: fixed;
    z-index: 1; /* Stay above other elements */
    top: 0;
    left: 0;
    background-color: #A44200;
    overflow-x: hidden; /* Disable horizontal scroll bar */
    padding-top: 60px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-wrap: nowrap; /* Empêche le texte de bouger pendant le déroulement du menu */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When navigation links are moused over: changes their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #C8BFC7;
}

/* Position and style the close button (top left corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.Titre {
    font-weight: 600;
    font-size: 200%;
}

#ContactDiv {
    display: flex;
}

#ContactDiv a {
    padding: 10px;
}

.Contact {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* <span class="havetooltip">
   <span class="tooltip-h"><span class="tooltip">This is tooltip content</span></span>  
   This is some paragraph text, try to hover over with mouse
</span> */

/* How the tooltip should look like and where it should be located https://stackoverflow.com/questions/71258930/how-to-make-element-appear-on-hover-text */
.tooltip{
    display: none;
    position: absolute;
    z-index: 50;
    background-color: #222222;
    white-space: nowrap;
    padding: 3px 7px;
    top: -2em;
    color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    border: solid 1px #820B8A;
    font-size: 15px;
}
/* We enable displaying of tooltip when content is hovered
   please mind, this may be tricky to do on mobile devices */
.havetooltip:hover .tooltip{
    display: block;
}
/* Holder of tooltip, have zero-size but it's contents are allowed to overflow */
.tooltip-h{
    position: relative;
    width: 0;
    height: 0;
    overflow: visible;
}

.topnav {
    width: 65px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: #090302;
}

/* On screens where height is less than 450px: change style of sidenav (less padding & smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

a svg{
  transition: all .5s ease;
}

#ico{
  display: none;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////- MAIN -///////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow: hidden;
    padding: 0px;
    width: 100%; /* Changer par JS navbar pour que le texte wrap */
}

.Partie {
    height: 100vh;
}

.Contenu {
    margin-left: 5%;
    width: 100%;
    height: 100%;
}

.Sous-Titre {
    font-weight: 400;
    font-size: 150%;
}

hr {
    color: #090302;
}

.Left {
    width: 50%;
    height: 100%;
    float: left;
}

.Right {
    width: 50%;
    height: 100%;
    float: right;
}

#me {
    height: 77.99642218246869vh;
    width: 38.046875vw;
    margin-right: 5.859375vw;
    margin-top: 5vh;
    float: right;
}

@media only screen and (max-width: 600px) {
    #me {
        height: 33.410852713178295vh;
        width: 66.66666666666667vw;
        margin-right: -15vw;
        margin-top: 35%;
        float: right;
    }
}

#Halgand {
    margin-top: 10vh;
}